.Header {
  background-color: rgba(122, 156, 198, 0.1);
  padding: 20px;
  border: 1px;
  border-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderText {
  font-family: "Segoe UI", sans-serif;
}

.HeaderList {
  list-style-type: none;
}

.HeaderPicture {
  width: 300px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}

.HeaderPicture img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

body{
  background-color: dimgrey;
  text-align: center;
}

#Services ol{
  list-style-type: none;
}

#ContactUs ul{
  list-style-type: none;
}
.pie-chart {
  position: relative;
  width: 80%;
  height: 80vh;
  max-width: 600px;
  max-height: 400px;
  margin: auto;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.slice {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: polygon(50% 50%, 100% 100%, 0 100%);
  border-radius: 50%;
}
#slice1 {
  background-color: #ff7f0e;
}

#slice2 {
  background-color: #1f77b4;
}

#slice3 {
  background-color: #2ca02c;
}





